

.body{
    background-color:rgb(180, 220, 226);
}

.div1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.div1 h1{
    font-size: 40px;
     
}

.div1 h1:hover{
    color: whitesmoke;
    
}
.carousel{
    height: 400px !important;
    margin-left: 20px !important;
    margin-right: 20px !important;

}

.carousel h5{
    font-size: 100px;
    font-weight: 1000;
}

.carousel p{
    font-size: 30px;
    font-weight: 900;
    color: rgb(247, 239, 239);

}

.carousel-inner{
    border-radius: 500px !important;
   margin-top: 10px;
}

.carousel img{
    height: 400px;
    
}


.card img{
    height: 300px;
}

.importantinfo h1{
   text-align: center;
    text-decoration: overline 10px solid rgb(6, 210, 246);


    cursor: pointer;
    
}

.importantinfo h1:hover{
    color: whitesmoke;
    text-transform: uppercase;
    text-decoration:overline;
    cursor: pointer;
}

.btn{
    bottom: 0;
}

.card-title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}
